<%= form_for @address, html: { multipart: true} do |f| %>           
    <div class="panel-body">
        <% if @address.errors.any? %>
          <div class="alert alert-danger">
              <h4>Please correct the following errors:</h4>
              <ul>
                <% @address.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
          </div>
        <% end %>

      <div class="form-horizontal">
        <div class="row">
          <div class="col-md-8">

            <div class="form-group">
              <!-- <label for="company" class="control-label col-md-3">Company</label>
              <div class="col-md-8">
                <input type="text" name="company" id="company" class="form-control">
              </div> -->
              <%= f.label :name, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :name, class: "form-control" %>                
              </div>
            </div>

            <div class="form-group">
              <%= f.label :company, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :company, class: "form-control" %>                
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :email, class: "form-control" %>                
              </div>
            </div>

            <div class="form-group">
              <%= f.label :phone, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_field :phone, class: "form-control" %>                
              </div>
            </div>
            <div class="form-group">
              <%= f.label :address, class: "control-label col-md-3" %>               
              <div class="col-md-8">
                <%= f.text_area :address, class: "form-control" %>                
              </div>
            </div>
            <div class="form-group">
              <label for="group" class="control-label col-md-3">Group</label>
              <div class="col-md-5">
                <%= f.collection_select :group_id, Group.all, :id, :name, { prompt: "Select Group"}, class: "form-control" %>


              </div>
              <div class="col-md-3">
                <a href="#" id="add-group-btn" class="btn btn-default btn-block">Add Group</a>
              </div>
            </div>
            <div class="form-group" id="add-new-group" style="display: none;">
              <div class="col-md-offset-3 col-md-8">
                <div class="input-group">
                  <input type="text" name="new_group" id="new_group" class="form-control">
                  <span class="input-group-btn">
                    <a href="#" class="btn btn-default">
                      <i class="glyphicon glyphicon-ok"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
                <!-- <img src="http://placehold.it/150x150" alt="Photo"> -->
                <%= image_tag @address.avatar.url(:medium) %>
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
              <div class="text-center">
                <span class="btn btn-default btn-file"><span class="fileinput-new">Choose Photo</span><span class="fileinput-exists">Change</span><%= f.file_field :avatar %></span></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <button type="submit" class="btn btn-primary">Save</button>

              <%= link_to "Cancel", addresses_path, class: "btn btn-default" %>
              <!-- <a href="#" class="btn btn-default">Cancel</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>